{% extends 'main.html' %}
<!--{% extends "todo/main.html" full way, if not defined in setting DIR -->

{% block title %} Login {% endblock %}

{% block content %}
    <div class="login-container">
        <form method="POST" class="log-in-form"> <!--tag Form which contains method (post, put, patch) definitely-->
            {% csrf_token %}                     <!--csrf_token must be passed on-->

            <div class="mb-3">
                <label for="username" class="log-in-form-label">User name</label>
                {{ form.username }}
            </div>
            <div class="mb-3">
                <label for="password1" class="log-in-form-label">Password</label>
                {{ form.password }}
            </div>

            <button type="submit" class="login-button">Login</button>

            <div class="login-account-choice">
                <p>Don't you have an account ?</p>
                <a href="{% url 'router:user:register_new_user' %}">Register new user</a>
            </div>


            {% if form.errors %}
                <div style="margin: 15px 15px;">
                    <div style="color:red">
                        NON VALIDATED (WRONG OR EMPTY):
                        {{ form.errors }}
                    </div>
                    <div style="color:white">
                        VALIDATED (CLEANED DATA) :
                        {% for field_ok, value_ok in form.cleaned_data.items %}
                            <div>{{ field_ok }} = {{ value_ok }}</div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}


        </form>
    </div>
{% endblock %}
