{% extends 'main.html' %}
<!--{% extends "todo/main.html" full way, if not defined in setting DIR -->

{% block title %}
    All Subtasks
{% endblock %}

{% block content %}
    <div class="subtasks">
        {% if subtasks %}
            {% for subtask in subtasks %}
                <a href="{% url 'router:tasks:get-subtask-by-id' subtask.id %}" class="subtask-link">
                    <div class="subtask">
                        <h2><span class="subtask-description">Title: </span>{{ subtask.title }}</h2>
                        <h4><span class="subtask-description">Category: </span>{{ subtask.category }}</h4>
                        <h4><span class="subtask-description">Status: </span><b>{{ subtask.status }}</b></h4>
                        <p><b><span class="subtask-description">Description: </span></b>
                            {{ subtask.description|slice:":30" }}
                                {% if subtask.description|length > 30 %}...{% endif %}</p>
                        <h4><span class="subtask-description">Task: </span>
                            {{ subtask.task.title|slice:":15" }}
                                {% if subtask.task.title|length > 15 %}...{% endif %}</h4>
                        <h4><span class="subtask-description">Date started: </span>{{ subtask.date_started }}</h4>
                        <h4><span class="subtask-description">Deadline: </span>{{ subtask.deadline }}</h4>
                    </div>
                </a>
            {% endfor %}
        <div class="button-container">
            <a href="{% url 'router:tasks:update_subtask_by_subtask_id' subtask_id=subtask.id %}" class="update-button">Update</a>
            <a href="{% url 'router:tasks:delete-subtask-by-id' subtask.id %}" class="delete-button">Delete</a>
            <a href="{% url 'router:tasks:create-new-subtask' %}?task_id={{ task.id }}" class="create-subtask">Create</a>
        </div>
        {% else %}
            <div class="no-subtasks-block">
                <h1>Looks like you don't have any subtask!</h1>
            </div>
        {% endif %}
    </div>
{% endblock %}
