{% extends "main.html" %}

{% block title %} All Subtasks {% endblock %}

{% block content %}
    <div class="subtasks">
        {% if subtasks %}
            {% for subtask in subtasks %}
                <a href="{% url 'router:tasks:get-subtask-by-id' subtask.id %}">
                    <div class="subtask">
                        <h2><span class="subtask-description">Subtask Title: </span>{{ subtask.title }}</h2>
                        <h4><span class="subtask-description">Category: </span>{{ subtask.category }}</h4>
                        <h4><span class="subtask-description">Status: </span>{{ subtask.status }}</h4>
                        <p><span class="subtask-description">Description: </span>{{ subtask.description }}</p>
                        <h4>
                            <span class="subtask-description"> Task Title: </span>
                                {{ subtask.task.title|slice:":20" }}
                                    {% if subtask.task.title|length > 20 %}...{% endif %}
                        </h4>
                        <h4><span class="subtask-description">Start date: </span>{{ subtask.start_date }}</h4>
                        <h4><span class="subtask-description">Deadline date: </span>{{ subtask.deadline_date }}</h4>
                    </div>
                </a>
            {% endfor%}

        {% else %}
            <div class="no-subtasks-block">
                <h2>It looks like you don't have a subtask</h2>
            </div>
        {% endif %}
    </div>

<!--<div class="button-container">-->
<!--    <a href="{% url 'router:tasks:create-new-subtask' %}?task_id={{ task.id }}" class="create-subtask">Create subtask</a>-->
<!--</div>-->

{% endblock %}
