{% extends "main.html" %}
<!--{% extends "todo/main.html" full way, if not defined in setting DIR -->

{% block title %} All Tasks {% endblock %}

{% block content %}
    <div class="tasks">
        {% for task in tasks %}
            <div class="task">
                <h2>Title: {{ task.title }}</h2>
                <h4>Category: {{ task.category }}</h4>
                <h4>Status: {{ task.status }}</h4>
                <p><b>Description: {{ task.description }}</b> </p>
                <h4>Creator: {{ task.creator }}</h4>
                <h4>start date: {{ task.start_date }}</h4>
                <h4>deadline date: {{ task.deadline_date }}</h4>
                <h4>note: {{ task.note }}</h4>
            </div>
        {% endfor %}
    </div>
{% endblock %}
