<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'todo/css/styles.css' %}">  <!--root/apps/todo/static/todo/css-->
    <link rel="stylesheet" href="{% static 'todo/css/tasks.css' %}">  <!--root/apps/todo/static/todo/css-->
    <link rel="stylesheet" href="{% static 'todo/css/task_form.css' %}">  <!--root/apps/todo/static/todo/css-->
    <link rel="stylesheet" href="{% static 'todo/css/task_info.css' %}">  <!--root/apps/todo/static/todo/css-->
<!--    <link rel="stylesheet" href="{% static 'todo/css/subtask_info.css' %}">  &lt;!&ndash;root/apps/todo/static/todo/css&ndash;&gt;-->
<!--    <link rel="stylesheet" href="{% static 'todo/css/subtasks.css' %}">  &lt;!&ndash;root/apps/todo/static/todo/css&ndash;&gt;-->
<!--    <link rel="stylesheet" href="{% static 'todo/css/subtask_form.css' %}">  &lt;!&ndash;root/apps/todo/static/todo/css&ndash;&gt;-->

    <link rel="stylesheet" href="{% static 'user/css/login.css' %}">
    <link rel="stylesheet" href="{% static 'user/css/profile.css' %}">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500;600;900&display=swap" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div class="container">
    <ul class="navigation-panel">
        <li class="header-item">
            <a class="nav-link" aria-current="page" href="{% url 'router:home' %}">Home</a>
        </li>
        <li class="header-item">
            <a class="nav-link" href="#">Profile</a>
        </li>
        <li class="header-item">
            <a class="nav-link" href="{% url 'router:tasks:all-tasks' %}">Tasks</a>
        </li>
        <li class="header-item">
            <a class="nav-link" href="#">Subtasks</a>
        </li>
        <li class="header-item">
            <a class="nav-link" href="{% url 'router:tasks:create-task' %}" tabindex="-1">Add Task</a>
        </li>
    </ul>
    {% block content %}
        <h1 align="center">Todo Main Page</h1>
    {% endblock %}
</div>
</body>
</html>
