{% extends 'main.html' %}
<!--{% extends "todo/main.html" full way, if not defined in setting DIR -->


{% block title %} {{ subtask.title }} | update {% endblock %}

{% block content %}
    <div class="subtask-container-form">        <!--tag Form which contains method (post, put, patch) definitely-->
        <form method="post" autocomplete="on">  <!--csrf_token must be passed on-->
            {% csrf_token %}

            <div class="subtask-mb-3">
                <label for="title" class="subtask-form-label">Title</label>
                <input type="text" class="subtask-form-control" id="title" name="title"
                       maxlength="75" value="{{ subtask.title }}">
            </div>

            <div class="subtask-mb-3">
                <label for="description" class="subtask-form-label">Description</label>
                <textarea class="subtask-form-control" id="description" name="description"
                          maxlength="1500">{{ subtask.description }}</textarea>
            </div>

            <div class="subtask-mb-3">
                <label for="category" class="subtask-form-label">Category</label>
                <select class="subtask-form-control" id="category" name="category">
                    <option value="{{ subtask.category.id }}" selected="selected">{{ subtask.category }}</option>
                    {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="subtask-mb-3">
                <label for="status" class="subtask-form-label">Status</label>
                <select class="subtask-form-control" id="status" name="status">
                    <option value="{{ subtask.status.id }}" selected="selected">{{ subtask.status }}</option>
                    {% for status in statuses %}
                        <option value="{{ status.id }}">{{ status.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="subtask-mb-3">
                <label for="start_date" class="subtask-form-label">Start date</label>
                <input type="date" class="subtask-form-control" id="start_date" name="start_date" value="{{ subtask.start_date }}">
            </div>

            <div class="subtask-mb-3">
                <label for="deadline_date" class="subtask-form-label">Deadline date</label>
                <input type="date" class="subtask-form-control" id="deadline_date" name="deadline_date" value="{{ subtask.deadline_date }}">
            </div>

            <div class="subtask-mb-3">
                <label for="note" class="subtask-form-label">Note</label>
                <input type="text" class="subtask-form-control" id="note" name="note" value="{{ subtask.note }}">
            </div>

            <button type="submit" class="subtask-update-button">Update</button>

            {% if form.errors %}
                <div style="margin: 15px 15px;">
                    <div style="color:red">
                        NON VALIDATED (WRONG OR EMPTY):
                        {{ form.errors }}
                    </div>
                    <div style="color:white">
                        VALIDATED (CLEANED DATA) :
                        {% for field_ok, value_ok in form.cleaned_data.items %}
                            <div>{{ field_ok }} = {{ value_ok }}</div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}


        </form>
    </div>
{% endblock %}
